input::-webkit-input-placeholder {
  font-family: 'Joti', Arial, sans-serif;

}
input:-moz-placeholder {
  font-family: 'Joti', Arial, sans-serif;
}

@font-face {
  font-family: "Joti";
  src: url("./fonts/joti_one.ttf") format("ttf");
  src: url("./fonts/joti_one.woff") format("woff");
  src: url("./fonts/joti_one.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

body {
  background-image: url('./images/wall_0.png');
}

.game-container {
  width: 600px;
  height: 600px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

}

.greeting {
  text-align: center;
  height: inherit;

  background-image:
    url('./images/crate_0.png');
  background-repeat: no-repeat;
  background-position: 32% 39%;
  background-size: 150px;

  padding-top: 20%;
  box-sizing: border-box;
}

.greeting input {
  width: 190px;
  height: 25px;

  padding-left: 5px;
}

.greeting input:hover,
.greeting input:focus {
  border-color: burlywood;
  outline: none;
}

.greeting h2 {
  font-family: 'Joti', Arial, sans-serif;
  margin-bottom: 30px;
}

.greeting button {
  font-family: 'Joti', Arial, sans-serif;
  height: 31px;
  width: 78px;
}

.greeting button:hover {
  background-color: lightgray;
}

.game-board {
  height: 600px;
}

.game-board {
  font-family: 'Joti', Arial, sans-serif;
  text-align: center;
}

.name,
.timer {
  color: #ffffff;
  font-size: 30px;

  text-shadow: 3px 3px 4px #000000;
}

.timer {
  font-size: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 450px;
  border: 1px solid #000000;

  box-shadow: -1px 4px 13px 3px #000000;

  margin-left: auto;
  margin-right: auto;

  padding: 0;
  list-style: none;
}

.container li {
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;

  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center;
}

.s {
  background-image: url('./images/space.png');
}
.w {
  background-image: url('./images/wall.png');
}
.b {
  background-image: url('./images/newBox.png');
}
.p {
  background-image: url('./images/dot.png');
}
.a {
  background-image: url('./images/checked-box.png');
}
.y, .Y {
  background-image: url('./images/man.png');
}

.rankboard {
  font-family: 'Joti', Arial, sans-serif;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 40px;

  min-width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;

  border: none;
  color: white;
  font-size: 20px;
}

.ranck {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;

  border-bottom-style: solid;
}

.ranck--active {
  border-color: #ffff00;
  color: #ffff00;
}

.rankboard span {
  width: 50px;
  padding-left: 5px;
}

.rankboard p {
  flex-grow: 2;
}

.button {
  margin-left: auto;
  margin-right: auto;
}

.error {
  font-family: Arial, sans-serif;
  font-size: 11px;
  color: #ffbb00;
  text-align: left;
  padding-left: 28%;
}
