input::-webkit-input-placeholder {
  font-family: 'Joti', Arial, sans-serif;

}
input:-moz-placeholder {
  font-family: 'Joti', Arial, sans-serif;
}

@font-face {
  font-family: "Joti";
  src: url("./fonts/joti_one.ttf") format("ttf");
  src: url("./fonts/joti_one.woff") format("woff");
  src: url("./fonts/joti_one.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

body {
  /* background-image: url('./images/wall_0.png'); */
}

.game-container {
  width: 350px;
  height: 350px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.greeting {
  text-align: center;
  height: inherit;

  background-image:
    url('./images/crate_0.png'),
    url('./images/crate_0.png');
  background-repeat: no-repeat;
  background-position:
    right center,
    left bottom;
  background-size: 150px;
}

.greeting input {
  width: 190px;
  height: 25px;
}

.greeting input:hover,
.greeting input:focus {
  border-color: burlywood;
  outline: none;
}

.greeting h2 {
  font-family: 'Joti', Arial, sans-serif;
  margin-bottom: 30px;
}

.greeting button {
  font-family: 'Joti', Arial, sans-serif;
  height: 31px;
  width: 78px;
}

.greeting button:hover {
  background-color: lightgray;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 450px;
  border: 1px solid #000000;

  margin-left: auto;
  margin-right: auto;

  padding: 0;
  list-style: none;
}

.container li {
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 1px solid gray;

  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center;
}

.s { background: white; }
.w {
  background-image: url('./images/wall_0.png');
}
.b { background: blue; }
.p { background: lightgray; }
.a { background: red; }
.y, .Y { background: green; }

.rankboard {
  font-family: 'Joti', Arial, sans-serif;
  list-style: none;
  padding: 0;
  border: 1px solid black;

  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.ranck {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: left;
}

.ranck--active {
  border-color: #c0c025;
  color: #c0c025;
}

.rankboard span {
  width: 50px;
  padding-left: 5px;
}

.rankboard p {
  flex-grow: 2;
}

.button {
  margin-left: auto;
  margin-right: auto;
}
